In [2]:
print("All is well")

All is well

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/refs/heads/master/IMDB-Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.shape

(50000, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [6]:
df['review'][2]

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.<br /><br />This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.<br /><br />This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

## 1. Lowercasing

In [7]:
df['review'] = df['review'].str.lower()
df['review'].head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production. <br /><br />the...
2    i thought this was a wonderful way to spend ti...
3    basically there's a family where a little boy ...
4    petter mattei's "love in the time of money" is...
Name: review, dtype: object

## 2. Tackle HTML and URL

In [8]:
text = "<p>Visit my <a href='https://www.example.com'>website</a> to explore a range of resources and learn more about our services.</p>"

In [9]:
import re
def remove_html_url(text):
    pattern = re.compile('<.*?>')
    return pattern.sub("",text)

In [10]:
remove_html_url(text)

'Visit my website to explore a range of resources and learn more about our services.'

In [11]:
df['review'] = df['review'].apply(remove_html_url)

In [12]:
df['review'].head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production. the filming tec...
2    i thought this was a wonderful way to spend ti...
3    basically there's a family where a little boy ...
4    petter mattei's "love in the time of money" is...
Name: review, dtype: object

In [13]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub("",text)

In [14]:
text2 = "This is my new video https://youtu.be/CAgWNxlmYsc?si=0pZu05Hkc4c0siMu"

In [15]:
remove_url(text2)

'This is my new video '

In [16]:
df['review'] = df['review'].apply(remove_url)
df['review'].head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production. the filming tec...
2    i thought this was a wonderful way to spend ti...
3    basically there's a family where a little boy ...
4    petter mattei's "love in the time of money" is...
Name: review, dtype: object

## 3. Handle Punctuations

In [17]:
text3 = "string@Rubel's world(Nothing new)*"

In [18]:
import string
exclude = string.punctuation

In [19]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char," ")
    return text

In [20]:
remove_punc(text3)

'string Rubel s world Nothing new  '

In [21]:
df['review'] = df['review'].apply(remove_punc)
df['review'].head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production  the filming tec...
2    i thought this was a wonderful way to spend ti...
3    basically there s a family where a little boy ...
4    petter mattei s  love in the time of money  is...
Name: review, dtype: object

## 4. Handling Abbreviations

In [30]:
text1 = "Call me ASAP"
text2 = " I cannot answer know. AFK"
text3 = "LMAO This is funny!!"

In [35]:
chat_words = {
    "AFAIK" : "As far as I know",
    "AFK": " Away from Keyboard",
    "LMAO" : "Laughing my ass off",
    "ASAP" : "As soon as possible",
    "BTW" :"By the way"
}

In [32]:
def chat_words_conv(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [33]:
chat_words_conv(text1)

'Call me As soon as possible'

In [36]:
chat_words_conv(text3)

'Laughing my ass off This is funny!!'